{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class="container  text-center mb-4">
    <div class="row align-items-start">
        <div class="col
        ">
            <img src="Capture d’écran du 2023-11-23 09-57-37.png" alt=""  width="50">
            <h1>V E F </h1>
            <p>les  voitures en folies </p>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col">
            <h2>les voitures en folie</h2>
            <p>entreprise  crée par des  passionnés d'automobile </p>
        </div>
    </div>
</div>
{% endblock %}
